###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/bin
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/index.php
/var/
/vendor/
###< symfony/framework-bundle ###
